<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ERAD-API Authentication</title>
</head>
<body>
	<div>
		<h1>ERAD Authentication</h1>
		<p>Login or register with..</p>
		<a href="/login">Local login</a>
		<a href="/signup">Local Signup</a>
	</div>
</body>
</html>
